@import "./themes.scss";
@import "./header.scss";
@import "./base.scss";
@import "./footer.scss";

.clearfix {
  overflow: auto;
}

//  Handheld devices
@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      background: url(/images/backgroundimg2.jpg);
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.7;
      position: absolute;
      z-index: -1;
    }
  }

  .headline {
    height: 3em;
    align-items: flex-start;
    justify-content: center;

    h1 {
      font-size: 35px;
      margin: 0px;
    }
  }

  #app {
    height: auto;
  }

  .entry {
    background: $gray;
    border-radius: 25px;
    width: 90vw;
  }

  #entryHolder {
    height: 25vh;
  }

  .myInput {
    height: 3em;
  }
}

// Tablet devices
@media (min-width: 601px) and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      background: url(/images/backgroundimg2.jpg);
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.7;
      position: absolute;
      z-index: -1;
    }

    input {
      width: 60vw;
      font-size: 20px;
      opacity: 0.95;

      &[type="text" i] {
        padding: 1px 10px;
    }
    }

    .headline {
      height: 6em;
      align-items: flex-start;      

      h1 {
        font-size: 55px;
        margin: 0px 0px 0px 20px;
      }
    }

    .entry {
      margin-bottom: 30px;
      background: $gray;
      border-radius: 25px;
      width: 75vw;
      opacity: 0.98;

      .title {
        font-size: 20px;
        margin-top: 20px;
      }
    }

    #entryHolder {
      height: 200px;
      width: 100vw;
    }

    label {      
      height: 3em;      
      line-height: 4;
      font-size: 22px;      
    }

    button {
      font-size: 20px;
      margin: 35px auto 45px;
    }
  }
}

//  Desktop devices
@media (min-width: 901px) {
  .entry {
    background: rgba(59, 74, 107, 0.4);
  }

  #entryHolder {
    height: 200px;
    width: 90vw;
  }

  #date {
  }

  #temp {
  }

  #content {
  }

  .title {
  }

  .myInput {
    height: 150px;
  }

  /*  Basic Styling To Override Default For Basic HTML Elements */
  label {
    display: block;
    font-size: 27px;
    opacity: 0.9;
  }

  input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    border: none;
  }

  button {
    width: 200px;
    height: 50px;
    margin: 15px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 4px 5px #444;
  }
  h1 {
    font-size: 36px;
  }

  textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
  }
  /* Reset style for HTML element on active to have no border*/
  input:focus,
  select:focus,
  textarea:focus,
  button:hover {
    box-shadow: 10px;
    border: none;
  }
  /* Style for Placeholder Text*/
  ::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
  }
}
