@import "./themes.scss";
@import "./header.scss";
@import "./base.scss";
@import "./footer.scss";

* {
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

//  Handheld devices
@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      background: url(/images/backgroundimg2.jpg);
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.7;
      position: absolute;
      z-index: -1;
    }
  }

  .headline {
    height: 3em;
    align-items: flex-start;
    justify-content: center;

    h1 {
      font-size: 35px;
      margin: 0px;
    }
  }
  button {
    display: inherit;
    margin: 20px auto;
  }

  #app {
    height: auto;
  }

  .entry {
    background: $gray;
    border-radius: 25px;
    width: 90vw;
  }

  #entryHolder {
    height: 25vh;
    width: 100%;
    padding: 5px;

    p {
      color: $white;
      text-align: center;
    }

    p.title {
      color: $yellow;
    }
  }

  .myInput {
    height: 3em;
  }
}

// Tablet devices
@media (min-width: 601px) and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      background-image: url(/images/tablet-background.jpeg);
      background-size: 110% 95%;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.7;
      position: absolute;
      z-index: -1;
    }

    input {
      width: 60vw;
      font-size: 20px;
      opacity: 0.95;

      &[type="text" i] {
        padding: 1px 10px;
      }
    }

    .headline {
      background-color: unset;
      background: linear-gradient(to right, $white, #ffffed00);
      height: 6em;
      align-items: flex-start;

      h1 {
        font-size: 55px;
        margin: 0px 0px 0px 20px;
      }
    }

    .entry {
      margin-bottom: 30px;
      background: $gray;
      border-radius: 25px;
      width: 75vw;

      .title {
        font-size: 20px;
        margin-top: 20px;
      }
    }

    #entryHolder {
      height: 200px;

      p {
        color: $white;
        text-align: center;
      }

      p.title {
        color: $yellow;
      }
    }

    label {
      height: 3em;
      line-height: 4;
      font-size: 22px;
    }

    button {
      display: inherit;
      font-size: 28px;
      margin: 35px auto;
    }
  }
}

//  Desktop devices
@media (min-width: 901px) {
  body {
    display: grid;
    grid-template-rows: 150px 75vh 10vh;
    grid-template-columns: 30% 1fr 30% 30%;
    grid-template-areas:
      "hd hd hd hd"
      "field field main main"
      "ft ft ft ft";
    grid-auto-flow: row;
    position: relative;

    &::after {
      content: "";
      background: url(/images/desktop-background.jpg);
      background-size: 105% 105%;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.7;
      position: absolute;
      z-index: -1;
    }
    #app {
      display: contents;
    }

    .headline {
      grid-area: hd;
      background-color: unset;
      background-image: linear-gradient(to right, $white, #ffffed00);

      h1 {
        font-size: 5em;
        margin: 30px 30px;
      }
    }

    .main {
      grid-area: field;
      align-self: baseline;
      margin-top: 30px;

      label {
        display: block;
        width: unset;
        font-size: 30px;
        opacity: 0.9;
      }

      div.date label {
        margin-top: 30px;
      }

      input {
        display: block;
        width: 300px;
        font-size: 25px;
        border: none;

        &[type="text" i] {
          padding: 1px 10px;
        }
      }
    }
    /*  Basic Styling To Override Default For Basic HTML Elements */

    button {
      // width: 200px;
      // height: 50px;
      display: inherit;
      grid-area: field;
      margin: 40px auto;
      font-size: 26px;
      border: none;
      border-radius: 25px;
      box-shadow: 2px 4px 5px #444;
    }

    .entry {
      grid-area: main;
      display: block;
      margin-top: 30px;
      align-items: center;
      justify-content: center;
      align-self: baseline;
      background: $gray;
      border-radius: 25px;
      max-width: 85%;
      height: 80%;

      #entryHolder {
        height: 200px;
        width: unset;
        overflow: inherit;

        p {
          color: $white;
          margin: 20px;
          text-align: center;
        }

        p.title {
          color: $yellow;
        }
      }
    }

    .title {
      font-size: 25px;
      margin-top: 20px;
    }

    .footer {
      grid-area: ft;
    }
  }
}
